body {
    display: flex;
    justify-content: center;
    background-color: #282825;
    font-size: 1.2em;
    color: white;
}

input[name="mem"] {
    display: none;
}

.container {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blok-mem-picture {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.picture-mem {
    width: 60vw;
    border-radius: 4%;
    animation: fade 3s ease;
}

.hide_mem {
    display: none;
}

.blok-desc-but {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.blok-description-mem {
    width: 100%;
    display: blok;
}

.description-mem {
    animation: fade 3s ease;
}

.blok-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: -4.5%;
}

.but_checkbox {
    padding: 0.25em;
    margin: 0.3em;
    width: 0.15em;
    height: 0.15em;
    border-radius: 50%;
    border: 3px solid #3460f1;
    background-color: #3460f1;
    cursor: pointer;

}

.but_div_lable{
    width: 1.5em;
    height: 1.5em;
    margin-left: -450%;
    margin-top: -450%;
}


/* Селекторы для переключения изображений и описаний */
#r1:checked~.blok-mem-picture #mem_1,
#r1:checked~.blok-description-mem #desc_mem_1 {
    display: block;
}

#r2:checked~.blok-mem-picture #mem_2,
#r2:checked~.blok-description-mem #desc_mem_2 {
    display: block;
}

#r3:checked~.blok-mem-picture #mem_3,
#r3:checked~.blok-description-mem #desc_mem_3 {
    display: block;
}

#r4:checked~.blok-mem-picture #mem_4,
#r4:checked~.blok-description-mem #desc_mem_4 {
    display: block;
}

/* Скрываем остальные изображения и описания */
#r1:not(:checked)~.blok-mem-picture #mem_1,
#r2:not(:checked)~.blok-mem-picture #mem_2,
#r3:not(:checked)~.blok-mem-picture #mem_3,
#r4:not(:checked)~.blok-mem-picture #mem_4 {
    display: none;
}

#r1:not(:checked)~.blok-description-mem #desc_mem_1,
#r2:not(:checked)~.blok-description-mem #desc_mem_2,
#r3:not(:checked)~.blok-description-mem #desc_mem_3,
#r4:not(:checked)~.blok-description-mem #desc_mem_4 {
    display: none;
}

/* активная кнопка */
#r1:checked~ .blok-button #but_1,
#r2:checked~ .blok-button #but_2,
#r3:checked~ .blok-button #but_3,
#r4:checked~ .blok-button #but_4 {
    border: 3px solid #3460f1;
    background-color: #282825;
}

/* неактивная кнопка */
#r1:not(:checked)~ .blok-button #but_1,
#r2:not(:checked)~ .blok-button #but_2,
#r3:not(:checked)~ .blok-button #but_3,
#r4:not(:checked)~ .blok-button #but_4 {
    border: 3px solid #3460f1;
    background-color: #3460f1;
}

/* активная кнопка hover*/
#r1:checked~ .blok-button #but_1:hover,
#r2:checked~ .blok-button #but_2:hover,
#r3:checked~ .blok-button #but_3:hover,
#r4:checked~ .blok-button #but_4:hover {
    background-color: #282825;
    border: 3px solid white;
}

/* неактивная кнопка hover*/
#r1:not(:checked)~ .blok-button #but_1:hover,
#r2:not(:checked)~ .blok-button #but_2:hover,
#r3:not(:checked)~ .blok-button #but_3:hover,
#r4:not(:checked)~ .blok-button #but_4:hover {
    background-color: white;
    border: 3px solid white;
}

/* активная кнопка active*/
#r1:checked~ .blok-button #but_1:active,
#r2:checked~ .blok-button #but_2:active,
#r3:checked~ .blok-button #but_3:active,
#r4:checked~ .blok-button #but_4:active {
    background-color: #282825;
    border: 3px solid rgba(40, 119, 89, 0.966);
}

/* неактивная кнопка active*/
#r1:not(:checked)~ .blok-button #but_1:active,
#r2:not(:checked)~ .blok-button #but_2:active,
#r3:not(:checked)~ .blok-button #but_3:active,
#r4:not(:checked)~ .blok-button #but_4:active {
    background-color: rgba(40, 119, 89, 0.966);
    border: 3px solid rgba(40, 119, 89, 0.966);
}


@media (max-device-width:1630px) and (min-device-width:1531px) {
    .blok-button {
        margin-top: -4.5%;
    }
}
@media (max-device-width:1530px) and (min-device-width:1431px) {
    .blok-button {
        margin-top: -5%;
    }
}
@media (max-device-width:1430px) and (min-device-width:1301px) {
    .blok-button {
        margin-top: -5.5%;
    }
}
@media (max-device-width:1300px) and (min-device-width:1151px) {
    .blok-button {
        margin-top: -6%;
    }
}
@media (max-device-width:1150px) and (min-device-width:1001px) {
    .blok-button{
        margin-top: -6.5%;
    }
}
@media (max-device-width:1000px) and (min-device-width:951px) {
    .blok-button {
        margin-top: -7%;
    }
}
@media (max-device-width:950px) and (min-device-width:871px) {
    .blok-button {
        margin-top: -7.5%;
    }
}
@media (max-device-width:870px) and (min-device-width:821px) {
    .blok-button {
        margin-top: -8%;
    }
}

@media (max-device-width:568px) and (min-device-width:490px) {
    .blok-button {
        justify-content: center;
    }
    .blok-description-mem {
        margin-top: -5%;
    }
}
@media (max-device-width:489px) and (min-device-width:400px) {
    .blok-button {
        justify-content: center;
    }
    .blok-description-mem {
        margin-top: -6%;
    }
}
@media (max-device-width:399px) and (min-device-width:320px) {
    .blok-button {
        justify-content: center;
    }
    .blok-description-mem {
        margin-top: -7%;
    }
}